.select2-container {
    z-index: 1000000 !important;
    margin-bottom: 5px;
}

#customize-controls .customize-info.is-in-view,
#customize-controls .customize-section-title.is-in-view {
    z-index: 1000001; /* Because .select2-container has a z-index 1000000 */
}

.CodeMirror {
    height: auto !important;
}

.workspace-menu-wrapper {
    margin: 8px 0px 0px 0px;
    /*display: flex;
    flex-direction: row;*/
    overflow: hidden;
    position: relative;
}

.workspace-scroll-handle {
    position: absolute;
    color: #7ada4b;
    background: rgba(255, 255, 255, 0.62);
    border-radius: 100%;
}
.scroll-left {
    left: 0;
    top: 0;
}

.scroll-right {
    right: 0;
    top: 0;
}

.workspace-menu-wrapper ~ div {
    margin-top: -24px;
    position: relative;
}

.workspace-side-scroll-menu {
    overflow: auto;
    white-space: nowrap;
    padding: 0px 30px;
    margin: 0px 22px;
    /*max-width: calc(100% - 40px);*/
    overflow-x: scroll;
    padding-bottom: 10px;

}

.workspace-side-scroll-menu a {
    display: inline-block;
    text-align: center;
    margin: 0px 2px;
    text-decoration: none;
    padding: 2px 2px 0 2px;
    border-radius: 4px 4px 0 0;
    /*border: 1px solid rgb(0, 88, 41);*/
    background-color: #272822;
    color: #f8f8f2;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    vertical-align: bottom;
    overflow-y: hidden;
}

.workspace-side-scroll-menu a.active {
    color: red;
}
.workspace-side-scroll-menu a:hover {
    color: #e6ff4b;
}

.workspace-add-css-section, .workspace-add-group {
    vertical-align: text-bottom !important;
}

.workspace-add-css-section:hover {

}

#workspace-trash-can {
    position: absolute;
    background: white;
    z-index: 2;
    right: 0;
    top: -2px;
    display: none;
}

.workspace-hovering + #workspace-trash-can {
    display: block;
}

.codemirror-colorpicker {
    z-index: 99999999999999999;
}